@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grid layout */

.repeater-box {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  width: 100%;
  height: auto !important;
  margin: 0;
  overflow: inherit;
  min-height: 10px;
  position: relative;
}

.repeater-item {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-color: #f5f4f5;
  border-width: 2px;
  border-radius: 5px;
  padding: 15px 15px 15px;
}

/* Container */

.container-child {
  width: 100%;
  height: 100%;
  position: relative;
}

.clip-path-banner {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.container-group-left {
  order: 1;
  width: 25%;
  padding: 0px 15px 0px 0px;
  display: block;
}

.container-group-right {
  width: 75%;
  order: 2;
  padding: 0px 0px 0px 15px;
  display: block;
}

/* Background */

.background-widget {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  display: block;
  padding: 0 0 75% 0;
  position: relative;
}

/* Tags */

.tag {
  background: #ddd;
  border-radius: 3px 0 0 3px;
  color: #333;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #ddd;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #721b65;
  color: white;
}

.tag:hover::after {
  border-left-color: #721b65;
}

/* After checkbox */

.aftercheckbox::after {
  content: '';
  position: absolute;
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border-color: #721b65;
  border-style: solid;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Scroll bar */

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thumbs::-webkit-scrollbar-thumb {
  background: #7f7f7f;
}

.scrollbar-track::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Antd pagination */
li.ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active {
  font-weight: 600;
  background-color: #721b65;
  border-color: #721b65;
}

li.ant-pagination-item {
  border: 1px solid #721b65 !important;
}

li.ant-pagination-prev.ant-pagination-disabled,
li.ant-pagination-next {
  border: 1px solid #721b65 !important;
  line-height: 0 !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: white !important;
}
